fastapi
uvicorn
gunicorn
firebase-admin

pandas
numpy
scikit-learn
xgboost
lightgbm
joblib
shap
lime

pydantic
pydantic-settings
sqlalchemy
alembic

python-multipart
aiofiles
openpyxl
python-dotenv
httpx
optuna
